<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
  <div class="container py-5">

    <div class="text-center mb-5">
      <h1 class="display-4">Catálogo de Productos</h1>
      <p class="lead">Página principal del sistema</p>
    </div>

    <form method="get" class="row g-3 mb-4">
      <div class="col-md-4">
        <input type="text" name="nombre" th:value="${nombre}" placeholder="Buscar por nombre" class="form-control">
      </div>

      <div class="col-md-4">
        <select name="categoria" class="form-select">
          <option th:value="''" th:selected="${categoria == null or categoria == ''}">Todas</option>

          <option th:each="cat : ${categories}"
                  th:value="${cat.name()}"
                  th:text="${cat}"
                  th:selected="${cat.name() == categoria}">
          </option>
        </select>
      </div>

      <div class="col-md-4">
        <button class="btn btn-primary w-100">Buscar</button>
      </div>
    </form>


    <table class="table table-bordered table-hover">
      <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="product : ${products}">
        <td th:text="${product.id}">1</td>
        <td th:text="${product.name}">Nombre</td>
        <td th:text="${product.category}">Categoría</td>
        <td th:text="${product.price}">Precio</td>
        <td th:text="${product.stock}">Stock</td>
        <td>
          <a th:href="@{/productos/detail/{id}(id=${product.id})}" class="btn btn-sm btn-info">Detalle</a>
          <a th:href="@{/productos/edit/{id}(id=${product.id})}" class="btn btn-sm btn-warning">Editar</a>
          <a th:href="@{/productos/delete/{id}(id=${product.id})}"
             class="btn btn-sm btn-danger"
             onclick="return confirm('¿Estás seguro de eliminar este producto?');">
            Eliminar
          </a>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="text-end mt-4">
      <a th:href="@{/productos/create}" class="btn btn-outline-success">
        + Nuevo Producto
      </a>
    </div>

  </div>
</section>
</html>
